* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'myTrajanBold';
    src: url(trajanpro-bold.otf);
  }
/* SM Small */
body{
    background-image: url(images/SLaffSM.png);
    background-repeat: no-repeat;
}
.container{
    padding: 0;
    position: absolute;
    width: 576px;
    height: 812px;
}
.variablebox{
    font-family: 'Snell Roundhand','Italianno','Allura';
    text-align: center;
    /* background-color: springgreen; */
    /* opacity: 0.4;  */
}
.recipient{
    width: 576px;
    font-size: 37px;
    position: absolute;
    top: 562px;
    left: 0px;
}
.description{
    width: 576px;
    font-size: 9px;
    font-family: 'myTrajanBold', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 620px;
    left: 0px;
}
.purchasedate{
    width: 150px;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 680px;
    left: 110px;
}
.giftid{
    width: 140px;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 680px;
    left: 345px;
}
/* MD Medium */
@media only screen and (min-width: 768px) {
    body {
        background-image: url(images/SLaffMD.png);
    }
    .container{
        width: 768px;
        height: 1083px;
    }
    .recipient{
        width: 768px;
        font-size: 50px;
        top: 750px;
        left: 0px;
    }
    .description{
        width: 768px;
        font-size: 12px;
        top: 828px;
        left: 0px;
    }
    .purchasedate{
        width: 200px;
        font-size: 24px;
        top: 907px;
        left: 145px;
    }
    .giftid{
        width: 190px;
        font-size: 24px;
        top: 907px;
        left: 460px;
    }
  }
  /* LG Large */
@media only screen and (min-width: 992px) {
    body {
        background-image: url(images/SLaffLG.png);
    }
    .container{
        width: 992px;
        height: 1399px;
    }
    .recipient{
        width: 992px;
        font-size: 64px;
        top: 970px;
        left: 0px;
    }
    .description{
        width: 992px;
        font-size: 15px;
        top: 1070px;
        left: 0px;
    }
    .purchasedate{
        width: 240px;
        font-size: 32px;
        top: 1170px;
        left: 200px;
    }
    .giftid{
        width: 240px;
        font-size: 32px;
        top: 1170px;
        left: 600px;
    }
  }
  /* XL Extra Large */
@media only screen and (min-width: 1200px) {
    body {
        background-image: url(images/SLaffXL.png);
    }
    .container{
        width: 1200px;
        height: 1693px;
    }
    .recipient{
        width: 1200px;
        font-size: 78px;
        top: 1170px;
        left: 0px;
    }
    .description{
        width: 1200px;
        font-size: 18px;
        top: 1295px;
        left: 0px;
    }
    .purchasedate{
        width: 300px;
        font-size: 38px;
        top: 1420px;
        left: 235px;
    }
    .giftid{
        width: 300px;
        font-size: 38px;
        top: 1420px;
        left: 724px;
    }
  }
/* Full Size */
@media only screen and (min-width: 1600px) {
    body {
        background-image: url(images/SLaffFullSize.png);
    }
    .container{
        width: 2482px;
        height: 3501px;
    }
    .recipient{
        width: 2482px;
        font-size: 160px;
        top: 2420px;
        left: 0px;
    }
    .description{
        width: 2482px;
        font-size: 38px;
        top: 2680px;
        left: 0px;
    }
    .purchasedate{
        width: 640px;
        font-size: 84px;
        top: 2930px;
        left: 500px;
    }
    .giftid{
        width: 600px;
        font-size: 84px;
        top: 2930px;
        left: 1480px;
    }
  }