* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding: 0;
    position: absolute;
}

.variablebox{
    font-family: 'Snell Roundhand','Italianno','Allura';
    text-align: center;
    background-color: lightpink; /* pagaidu */
    opacity: 0.5; /* pagaidu */
}

.recipient{
    width: 2200px;
    font-size: 160px;
    position: absolute;
    top: 2450px;
    left: 120px;
}

.description{
    width: 2000px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 2660px;
    left: 240px;
}

.purchasedate{
    width: 600px;
    font-size: 80px;
    position: absolute;
    top: 2930px;
    left: 600px;
}

.giftid{
    width: 600px;
    font-size: 80px;
    position: absolute;
    top: 2930px;
    left: 1480px;
}